* {
    padding: 0;
    margin: 0;
}
/*nav*/
.navbar {
    background: black;
    height: 70px;
    text-align: left;
    font-size: 15pt;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    
}
.navbar li {
    float: left;
    display: inline;
    padding-left: 30px;
}
.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 110px;
    text-decoration: none;
    font-family:sans-serif;
  }

  
.navbar li a:hover {
    color: Black;
    background-color: red;
    font-weight: bold;
  }
/*nav*/

/*div1*/
#divv {
   
    color: white;
    cursor: pointer;
    
}
#div1 {
    background-image: url('anime2.jpg');
    background-size: 65%;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-color: #303030;
    height: 450px;
}
#divv1 {
    padding-top: 130px;
    padding-left: 550px;
}
#divv2 {
    padding-left: 10px;
    color: pink;
    font-size: 35px;
}
#input1 {
    width: 20%;
    background-image: url('searchbutton.png');
    background-repeat: no-repeat;
    background-position: 220px;
    background-size: 12%;
    padding: 12px 30px;
    border: 0.5px;
    background-color: antiquewhite;
    border-radius: 4px;
    opacity: 0.6;
}
#input1:focus{
    background-color: pink;
    opacity: 1;
}
/*div1*/

#div2 {
    height: 250px;
    background: black;
    text-align: left;
    color: white;
    font-family: sans-serif;
    padding: 80px 220px;
    font-size: 16px;    
}

/*products*/

.products {
    height: 350px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    list-style-type: none;
}

.products li {
    display: block;
    float: left;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

.products li a {
    display: block;
    color: black;
    text-align: center;
    width: 250px;
    height: 250px;
    text-decoration: none;
    font-family:sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
}

.products li a:hover{
    background-color: red;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.products p {
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

/*thong tin ho tro khach hang*/
#full {
    width: 100%;
}
#divht {
    background-color: black;
    color: whitesmoke;
    width: 50%;
    height: 250px;
    text-align: center;
    float: left;
    padding-top: 50px;
}

#divht2 {
    background-color: black;
    color: whitesmoke;
    width: 50%;
    height: 250px;
    text-align: center;
    float: left;
    padding-top: 50px;
}