* {
    padding: 0;
    margin: 0;
}
nav {
    background: black;
    height: 70px;
    text-align: left;
    font-size: 15pt;
    font-weight: bold;
    font-family: Myriad Pro;
    color: white;
    
}
li {
    float: left;
    display: inline;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 120px;
    text-decoration: none;
  }

#a1 {
    padding-left: 200px;
    padding-right: 120px;
    padding-top: 18px;
    padding-bottom: 18px;
}
  
li a:hover {
    color: Black;
    background-color: red;
    font-weight: bold;
  }

/*div1*/
#divv {
    text-align: center;
    color: white;
    cursor: pointer;
    
}
#div1 {
    background-image: url('anime2.jpg');
    background-size: 65%;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-color: #303030;
    height: 450px;
}
/*div1*/

#div2 {
    background: #a1767f;
    text-align: center;
}
